#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.rounded-div{

  
  
  background: radial-gradient(circle, rgba(180, 255, 170, 0.6), rgba(144, 240, 125, 0.857), rgba(255, 255, 255, 0));
  height: 15vh;
  width: 60vw;
  border: 1px solid rgba(180, 180, 180, 0.498);
  border-radius: 20px;
  box-shadow: 0 5px 20px  rgba(0, 0, 0, 0.108);

  background-size: 100% 1000%;
  background-position: 50% 0%;
}

#meta-data{
  margin-top: 1em;
  height: 10vh;
  width: 60vw;
  border: 1px solid white;
  border-radius: 50px;
}
#response {
  margin-top: 1em;
  height: 10vh;
  width: 60vw;
  border: 1px solid white;
  border-radius: 50px;
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
